.meet-the-team{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 100rem;
  padding-top: 6.4rem;
  &__header{
    text-align: center;
  }
  &__team{
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 3.2rem;
    padding-top: 2.6rem;
    padding-bottom: 6.4rem;
    &__user-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      &__socials{
        display: flex;
      }
    }
  }
}